altgraph
contourpy
cycler
fonttools
kiwisolver
matplotlib
numpy
packaging
pillow
pyinstaller
pyinstaller-hooks-contrib
pyparsing
python-dateutil
setuptools
six
pandas
ultralytics
openpyxl
scipy
seaborn
